@charset "UTF-8";

* { /* codigo global */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C9EBF2, #0B2624);
}

header{
    background-color:black;
}

nav-item{
    width: 600px;
    padding: 8px; 
    margin: auto;
}

main{
    padding: 10%;

}
main img{
    max-height: 400px; 
}
main p{
    text-align: justify;
    position: static;
}

footer{
    padding-inline-end: 0%;
    background-color:black;
}